<router-outlet></router-outlet>
<app-nav></app-nav>

<form class="p-1">
  <div>
	<div class="pb-2 d-block d-md-none">
		<h3 class="border-bottom">Cadastro de Genero</h3>
	</div>
	<div class="form-row">
		<div class="form-group col-sm-6">
			<label>Nome do Genero</label>
			<input type="text" class="form-control" placeholder="Insira o Nome" />
		</div>

  </div>
    <div class="form-row">
      <div class="form-group col-12">
        <button class="btn btn-lg btn-success  px-5">
          Registar
        </button>
      </div>
    </div>
</div>
</form>
