<router-outlet></router-outlet>
<app-nav></app-nav>

<app-titulo [Titulo]="'Jogos Disponíveis!'"></app-titulo>
<div class="form-inline">
<div class="card rounded shadow-sm p-3">


<div class="form-group mb-2 ">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2"
    placeholder="buscar"[(ngModel)]="filtro">
  </div>

<!--<h3>teste={{filtro}}</h3> -->

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Data de Lançamento</th>
      <th>Gênero do Jogo</th>
      <th>Desenvolvedora</th>
      <th></th>

    </tr>
  </thead>
  <tbody *ngIf="jogos && jogos.length">
    <tr *ngFor="let jogo of jogosFiltrados">
      <td>{{jogo.nome}}</td>
      <td>{{jogo.descricao}}</td>
      <td>{{jogo.dataLancamento}}</td>
      <td>{{jogo.genero}}</td>
      <td>{{jogo.desenvolvedora}}</td>
      <td><button type="button" class="btn btn-primary mr-2">Editar</button>
        <button type="button" class="btn btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
